<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>The Gossip Project - Team</title>
    </head>

    <body>
    <div class='ml-5'>
      <br>
      <h2 class="text-center">Team Gossip Project</h2>
      <br>
        <div class="row justify-content-md-center">  
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media2.giphy.com/media/3o8dFgRzTzaLx3mWgo/200.webp?cid=ecf05e473lwg2dscb6m43vyhlhiox8bomy1ekwoyfh8svi74&rid=200.webp" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Linda</h4>
          </div>
 
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media1.giphy.com/media/KyGEqzh9PAHPDZX5ps/200w.webp?cid=ecf05e47z7q7n0zwi2lu02cbsiirnsnh8myn9c3cc4gfzmbo&rid=200w.webp" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Nimrod</h4>
          </div>
          
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media1.giphy.com/media/knC8ISmQysyOs/giphy.webp?cid=ecf05e47z7q7n0zwi2lu02cbsiirnsnh8myn9c3cc4gfzmbo&rid=giphy.webp" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Myma</h4>
          </div>

        
      </div>
    </div>
    </body>
</html>


